body {
    background-image: url('Bermuda_Breeze_Tropical-Thunder.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
